[Unit]
Description=Node.js Application Service
After=network.target

[Service]
EnvironmentFile=/home/csye6225/my_app/webapp/.env
WorkingDirectory=/home/csye6225/my_app/webapp/dist
ExecStart=/usr/bin/env node /home/csye6225/my_app/webapp/dist/index.js
Restart=always
User=csye6225
Group=csye6225
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app

[Install]
WantedBy=multi-user.target
